:root {
  --first-color: #b6e1e0;
  --second-color: #9cd3d3;
  --third-color: #e8630a;
  --fourth-color: #2b4353;
  --text-color: #2b4353;
  --white: #fff;
  --highlight-color: #e8630a;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  background: linear-gradient(
    111.4deg,
    rgb(209, 231, 235) 7.4%,
    rgb(238, 219, 199) 51.4%,
    rgb(255, 159, 122) 82.6%,
    rgb(255, 109, 58) 100.2%
  );
  color: var(--text-color);
}

h1 {
  text-align: center;
  text-decoration: double;
  color: var(--highlight-color);
  text-decoration-thickness: 900;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 30px;
  padding: 10px;
  border-radius: 4px;
  margin: 30px 0;
  color: var(--highlight-color);
  text-align: center;
}

p {
  text-align: justify;
  line-height: 1.5;
  margin-top: 20px;
  font-size: 1em;
}

.lang-button {
  background-color: var(--first-color); 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-right: 10px;
}

.lang-button:hover {
  background-color: var(--second-color); 
  transform: scale(1.05);
}

.lang-button:active {
  background-color: var(--third-color); 
}

.lang-button:focus {
  outline: none;
  box-shadow: 0 0 5px var(--third-color);
}


label {
  display: block;
  font-size: 1em;
  margin-bottom: 5px;
}

.full-width-background {
  width: 100%;
  background-color: var(--first-color);
  padding: 20px 0;
  margin: 20px 0;
  box-sizing: border-box;
}

.full-width-background.intro {
  background-color: var(--second-color);
}

.full-width-background.countdown-intro {
  background-color: var(--highlight-color);
}

.full-width-background p {
  margin: 0;
  text-align: center;
  color: #2b4353;
  font-size: 1.3em;
  font-weight: bold;
}

.countdown-background {
  background: linear-gradient(
    -45deg,
    var(--first-color),
    var(--second-color),
    var(--first-color),
    var(--second-color)
  );
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;

  color: var(--white);
  padding: 20px 40px;
  border-radius: 10px;
  display: inline-block;
  font-family: "Poppins", sans-serif;

  font-size: 1rem;
  font-weight: 600;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 30px;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.first-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.first-image:hover {
  transform: scale(1.02);
}

#countdown {
  text-align: center;
  margin: 50px 0;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap; 
}

.time-unit {
  background: rgba(255, 255, 255, 0.2);
  color: var(--white);
  padding: 20px 15px;
  border-radius: 10px;
  min-width: 80px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  transition: transform 0.3s ease;
  text-align: center;
}

@media (max-width: 600px) {
  .countdown-timer {
    flex-wrap: nowrap; 
    gap: 10px; 
  }

  .time-unit {
    min-width: 60px; 
    padding: 15px 10px; 
  }

 .time-unit .number {
  font-size: 2.5rem;
  display: block;
  transition: transform 0.5s ease-in-out;
}

.time-unit .number.flip {
  transform: rotateX(360deg); 
  animation: flip 0.5s forwards; 
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
}

@media (max-width: 600px) {
  .countdown-timer {
    flex-direction: column;
    align-items: center;
  }

  .time-unit {
    width: 100px;
  }

  .countdown-background {
    font-size: 1rem;
    padding: 15px 30px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .countdown-background {
    background: linear-gradient(
      to right,
      var(--first-color),
      var(--second-color),
      var(--first-color),
      var(--second-color)
    );
    animation: none;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .header h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .first-image {
    max-width: 100%;
    margin: 15px auto;
  }

  .gallery-section {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .gallery-item img {
    width: 100%;
    height: auto;
  }

  iframe {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .first-image {
    max-width: 100%;
    margin: 10px auto;
  }

  iframe {
    height: 200px;
  }
}

@media (max-width: 600px) {
  .rsvp-btn, .map-btn {
    font-size: 0.9rem;
    padding: 10px;
    width: 100%;
  }

  p, label, textarea {
    font-size: 0.9rem;
  }
}

.header {
  background: none;
  padding: 0;
  text-align: center;
}

.header p.initial-text {
  font-size: 1em;
}

.header h1 {
  background-color: var(--first-color);
  color: var(--white);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 0;
  font-size: 3em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.header h2 {
  font-size: 2.5em;
  color: var(--fourth-color);
  margin-top: 10px;
}

.gallery-section {
  background-color: rgba(252, 254, 254, 0.7);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
}

.gallery-section h2 {
  color: var(--first-color);
  text-align: center;
  margin-bottom: 20px;
}

.gallery-item img {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(2);
}

@media (hover: none) {
  .gallery-item img:hover {
    transform: none;
  }
}

.event-details {
  font-family: "Poppins", Arial, sans-serif;
  background-color: var(--second-color);
  padding: 30px;
  border-radius: 12px;
  margin-top: 50px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.moments-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-bottom: 30px;
  text-align: left;
}

.moment {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.chill {
  background-color: var(--first-color);
  color: var(--fourth-color);
}

.party {
  background-color: var(--third-color);
  color: var(--white);
}

.moment h4 {
  color: var(--fourth-color);
  margin-bottom: 10px;
}

.rsvp-section,
.locations-section {
  background-color: var(--first-color);
  padding: 20px;
  border-radius: 12px;
  margin-top: 40px;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color);
}

input,
select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--second-color);
  font-size: 1em;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

.rsvp-btn {
  background-color: var(--third-color);
  color: var(--white);
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  width: 100%;
  border: none;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.rsvp-btn:hover {
  background-color: var(--highlight-color);
}

textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--second-color);
  font-size: 1em;
  margin-bottom: 15px;
  box-sizing: border-box;
  resize: vertical;
}

.map-btn {
  background-color: var(--third-color);
  color: var(--fourth-color);
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.map-btn:hover {
  background-color: var(--second-color);
  color: var(--white);
}

.locations-section {
  background-color: var(--fourth-color);
  color: var(--first-color);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--fourth-color);
  color: var(--white);
  border-radius: 0 0 12px 12px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  font-size: 1em;
}

footer a {
  color: var(--highlight-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--first-color);
}

